
@{
    ViewBag.Title = "Home";
}

    <style type="text/css">
         .CLA{
            background-image: url('~/Content/NewFolder1/homepage.jpg');
            margin: 0;
        }
    </style>


    <div>
        <header><button class="alert-success">  @Html.ActionLink("Login", "Register")</button> </header>
    </div>





